<div id="main-reset-password">
 <div class="reset-password">
    <div class="login-form-container login-form__recover-password" data-recover-password-form>
        {% form 'recover_customer_password' %}
            {% if form.posted_successfully? %}
                <span data-recover-password-form-success></span>
            {% endif %}

            {%- if form.errors -%}
                <div class="login-form__message--error">
                    {{ form.errors | default_errors }}
                </div>
            {%- endif -%}

            <label for="recover_customer_email">{{ 'customer.login.email' | t }}</label>

            <input type="email" name="email" id="recover_customer_email" value="{{ customer.email }}" />

            <input type="submit" class="btn" value="Submit" />
            
            <a class="btn btn-full" href="{{ close_link }}" class="btn">{{ 'customer.recover_password.cancel' | t }}</a>
    
        {% endform %}
    </div>
</div>
</div>