<!-- /templates/customers/reset_password.liquid -->
<div class="page-width reset-form-template">
  <div class="login-form-container active">
    <div class="heading__wrapper"> 
      <h1 class="heading h1 highlight-internal">{{ 'customer.reset_password.title' | t }}</h1>
    </div>
    {% form 'reset_customer_password' %}

    {{ form.errors | default_errors }}

    <label for="password" data-password-input>{{ 'customer.reset_password.password' | t }}
      <input type="password" value="" name="customer[password]" size="16" />
      <button type="button" class="btn-link" aria-label="Show password" data-password-show>{% include "icon-hide" %}</button>
      <button type="button" class="btn-link" aria-label="Hide password" data-password-hide>{% include "icon-show" %}</button>
    </label>

    <label for="password_confirmation" data-password-input>{{ 'customer.reset_password.password_confirm' | t }}
      <input type="password" value="" name="customer[password_confirmation]" size="16" />
      <button type="button" class="btn-link" aria-label="Show password" data-password-show>{% include "icon-hide" %}</button>
      <button type="button" class="btn-link" aria-label="Hide password" data-password-hide>{% include "icon-show" %}</button>
    </label>

    <input type="submit" class="btn" value="{{ 'customer.reset_password.submit' | t }}" />

    {% endform %}
  </div>
</div>