<style>
                    #shopify-section-alert-message, #shopify-section-header, #shopify-section-footer, #onetrust-consent-sdk{
                      display:none;
                    }
  </style>
{% if customer %}
<div class="page-container static-page" data-static-page >

  <div class="container">

{% paginate customer.orders by 30 %}
                {% if customer.orders.size != 0 %}
                  <style>
                    .rebuy-button {
    display: block;
    margin: 0;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #2491c4;
    box-shadow: none;
    background: #2491c4;
    padding: 10px 15px;
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    font-size: 16px
}
                    .tr_tapcart_wrapper{
                      display:flex;
                      flex-wrap:wrap;
                          align-items: flex-end;
    justify-content: center;
                    }
                    .product-card__image-wrapper{
                      text-align:center;
                    }
                    .tr_tapcart_product{
                      width:calc(100%/2);
                      margin-bottom:40px;
                    }
                    .rebuy-button{
                      margin-top: 10px;
    color: #fff;
    background: #dc0075;
    border-color: #dc0075;
                    }
  @media (min-width: 1200px) {
    .carousel__products {
         padding-top: 50%;
    }
}
</style>
<div class="section-products-carousel">    
      <div class="carousel__heading-wrapper">
          <h2 class="carousel__heading h1 highlight">But It Again</h2>
      </div>

      <div class="carousel__products">
          <div class="carousel__products-container">
          <div class="tr_tapcart_wrapper">
            {% assign product_ids = "" %}
            {% for order in customer.orders limit:30 %}  
            {% for line_item in order.line_items %}
              {% unless product_ids contains line_item.product.id %}
              {% assign lil_tit = line_item.title | handle %}
              {% if lil_tit contains 'free' or lil_tit contains 'shipping' %}
                {% else %}
              {% if line_item.product.available%}
                  <div class="tr_tapcart_product">{% render 'product-card-new', product: line_item.product, line_item: line_item %}</div>
                {% else %}

                {% endif %}
                {% endif %}
                              {% assign product_ids = product_ids | append: line_item.product.id | append: "," %}
              {% endunless %}
              {% endfor %}
            {% endfor %}

          </div>
        </div>
      </div>
</div>
                              {% endif %}
    {% endpaginate %}
  </div>
  <!-- <script>
    $(document).ready(function(){

    // Select and loop the container element of the elements you want to equalise
    $('.carousel__products-container').each(function(){  
      
      // Cache the highest
      var highestBox = 0;
      
      // Select and loop the elements you want to equalise
      $('.product-card__name', this).each(function(){
        
        // If this box is higher than the cached highest then store it
        if($(this).height() > highestBox) {
          highestBox = $(this).height(); 
        }
      
      });  
            
      // Set the height of all those children to whichever was highest 
      $('.product-card__name',this).height(highestBox);
                    
    }); 

});
  </script> -->
</div>
{% else %}
<!-- /templates/customers/login.liquid -->

<div class="page-width login-form-template">
    <div class="login-form-container active" data-customer-login-form>
        <div class="heading__wrapper"> 
            <h1 class="heading h1 highlight-internal">{{ 'customer.login.title' | t }}</h1>
        </div>
        <div class="login-form__message-success login-form__recover-password-success" data-reset-password-success-msg>
            {{ 'customer.recover_password.success' | t }}
        </div>
        {% form 'customer_login' %}
          <input type="hidden" name="return_to" value="/pages/buy-it-again">
            {%- if form.errors -%}
                <div class="login-form__message--error">
                    <h2>{{ 'contact.form.error_heading' | t }}</h2>
                    {{ form.errors | default_errors }}
                </div>
            {%- endif -%}

            <label for="customer_email">{{ 'customer.login.email' | t }}
                <input id="customer_email" type="email" name="customer[email]" />
            </label>

            {% if form.password_needed %}
                <label for="customer_password" data-password-input>{{ 'customer.login.password' | t }}
                    <input id="customer_password" type="password" name="customer[password]" />
                    <button type="button" class="btn-link" aria-label="Show password" data-password-show>{% include "icon-hide" %}</button>
                    <button type="button" class="btn-link" aria-label="Hide password" data-password-hide>{% include "icon-show" %}</button>
                </label>
            {% endif %}

            <div>


                <input type="submit" class="btn buy_it_again_login" value="{{ 'customer.login.sign_in' | t }}">

            </div>
        {% endform %}

        <!-- Begin ReCharge code -->
            {% render 'subscription-account-login' %}
        <!-- End ReCharge code -->

    </div>

    <div class="login-form-container login-form__recover-password" data-recover-password-form>
        <h2 class="login-form__title-recover-password">{{ 'customer.recover_password.title' | t }}</h2>

        {% form 'recover_customer_password' %}
            {% if form.posted_successfully? %}
                <span data-recover-password-form-success></span>
            {% endif %}

            {%- if form.errors -%}
                <div class="login-form__message--error">
                    {{ form.errors | default_errors }}
                </div>
            {%- endif -%}

            <label for="recover_customer_email">{{ 'customer.login.email' | t }}</label>
            <input type="email" name="email" id="recover_customer_email"/>

            <input type="submit" class="btn" value="Submit" />
            
            <a class="btn btn-full" href="{{ routes.account_login_url }}" class="btn">{{ 'customer.recover_password.cancel' | t }}</a>
       
        {% endform %}
    </div>
</div>
  <script>

        document.querySelector('.buy_it_again_login').addEventListener('click', function() {

                this.value = 'logging...';
        });
    </script>
  {% endif %}
<script>
// document.querySelectorAll('.tapcart_cart_btn').forEach(button => {
//     button.addEventListener('click', function() {
//         const productId = this.getAttribute('data-product-id');

//         const newSelector = `${productId}`;

// const inputElement = document.getElementById(newSelector).value;
//       Tapcart.actions.addToCart({
//     lineItems: [
//         {
//             variantId: inputElement,
//             quantity: 1,
//         },
//     ],
// });
//     });
// });

</script>
              